* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

:root {

    /* main color is modify by js*/
    --main-color: #ffffff;
    --primary-color: #fafafa;

    /* 1rem = 10px*/
    font-size: 62%;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000;
}


#userNameModal {
    /*flex is controlled by js*/
    display: none;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
    text-align: center;
    font-size: 5rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);
    color: var(--primary-color);
}

#app {
    background: #000;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5rem 1fr .5fr;

    position: relative;
}

#app header {
    width: auto;
    color: var(--primary-color);
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .userInformation {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

header .userInformation div {
    text-align: center;
}

header .userInformation .icon {
    margin-left: 1rem;
}

header .userInformation .wellcome {
    margin: 0 .8rem 0 1.2rem;
}

header .userInformation .userName {
    text-transform: capitalize;
}


header .editUserName {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .editUserName>div {
    background-color: #333333;
    border-radius: 999rem;

    /* flex is controlled by js*/
    display: none;
    justify-content: space-between;
}

header .editUserName>div:focus-within {
    border: 2px solid var(--primary-color);
}

header .editUserName input {

    width: 55%;
    height: 4rem;

    margin: 0 1rem;
    outline: none;

    background: transparent;
    color: var(--primary-color);

    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem;
}

header .editUserName input::placeholder {
    font-size: 2rem;
}


header .editUserName button.save {
    width: 35%;
    height: 4.5rem;
    background: #6666bc;
    color: var(--primary-color);
    border-top-right-radius: 999rem;
    border-bottom-right-radius: 999rem;
    font-size: 2.5rem;
}

header .editUserName span {
    transition: .3s;
    margin: 0 3rem;
    font-size: 2.5rem;
}
header .setTheDayPeriod {
    font-size: 2.5rem; 
    margin-right: 1rem;
}
header #menu .menuIcon {
    font-size: 2.5rem;
    margin-right: 1rem;
}

header #menu .fa-close {
    font-size: 3rem;
}

header #menu ul {
    position: absolute;
    top: 5rem;
    right: 0;

    /*controlled by JS*/
    padding: 0;
    width: 0;

    margin-top: .5rem;
    border-radius: .8rem 0 0 .8rem;
    background: #333333;

    transition: .3s ease-in-out;
}

header #menu ul li {
    list-style: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    
    border-radius: 50%;
    margin: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

header #menu ul li input[type="radio"] {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    appearance: none;
    transition: .3s ease-in-out;
}

header #menu ul li input[type="radio"]:checked {
    box-shadow: 0px 0px 10px 2px var(--main-color);
}



#app main {
    color: var(--main-color);
    height: 90%;
    width: 90%;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .data {
    font-size: 3rem;
    margin-right: 2.5rem;
}

main .data span {
    margin-right: 1rem;
}

.weekDay span:first-child {
    font-size: 10rem;
    font-weight: bold;
    text-transform: capitalize;
}

.weekDay span:last-child {
    font-size: 4rem;
}

#app footer {
    color: var(--main-color);
    margin: auto;
}

footer .hour {
    font-size: 10rem;
}

footer .hour span {
    font-size: 4rem;
}

/** Mobile **/
@media only screen and (orientation: portrait) {

    #app header {
        padding: 1rem;
    }

    header .editUserName div {
        position: absolute;
        top: 5.5rem;
        left: 0;

        margin-left: .6em;
    }


    #app main {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    main .data {
        display: flex;
        margin: 0;
    }

    main .weekDay span:first-child {
        font-size: 5rem;
    }


    #app footer {
        margin: 0 auto;
    }

    footer .hour {
        font-size: 5rem;
    }
}